/* Styles for WebRTC call page */

html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Lucida Grande', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#webrtc-call-starting {
	position: relative;
	width: 100%;
	height: auto;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.waitThrobber {
	display: block;
	width: 64px;
	height: 100%;
	margin: auto;
	pointer-events: none;
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat left center !important; /* orientation=lt */
	background: url('/eXoResources/skin/images/Loading/loading64x64Light.gif')
		no-repeat right center !important; /* orientation=rt */
}

.startInfo {
	padding-top: 20%;
	font-size: x-large;
}

#webrtc-call-container, #webrtc-call-stopped {
  height: 100%;
  width: 100%;
  position: absolute;
}

#webrtc-call-title, #webrtc-call-conversation {
  width: auto;
  position: relative;
}

#webrtc-call-title {
  position: fixed;
  z-index: 100;
  padding-right: 20px;
  padding-left: 20px;
}

#webrtc-call-conversation {
  height: 100%;
  position: relative;
}

#webrtc-call-error {
	z-index: 50;
	margin: 50px;
}

.error-description, .error-ref {
	margin-bottom: 10px;
}

.error-ref {
	opacity: 0.75;
}

#webrtc-call-stopped {
	z-index: 50;
	opacity: 0.5;
}

.stopInfo {
	width: auto;
  height: auto;
  position: relative;
  text-align: center;
  font-size: 55px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#videos {
  font-size: 0; /* to fix whitespace/scrollbars problem */
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

#videos.active {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

#local-video, #remote-video {
	display: block;
	position: absolute;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;  /* no letterboxing */
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
	transition: opacity 1s;
	width: 100%;
}

#mini-video {
	border: 1px solid gray;
	bottom: 20px;
	left: 20px;
	/* video div is flipped horizontally when active*/
	max-height: 17%;
	max-width: 17%;
	opacity: 0;
	position: absolute;
	transition: opacity 1s;
}

#mini-video.active {
	opacity: 1;
	z-index: 2;
}

#remote-video.active {
  opacity: 1;
  z-index: 1;
}

/*////// icons CSS start ////////////////////////*/

#controls {
  bottom: 77px;
  left: 6vw;
  position: absolute;
}

circle {
  fill: #666;
  fill-opacity: 0.6;
}

svg.on circle {
  fill-opacity: 0;
}

/* on icons are hidden by default */
path.on {
  display: none;
}

/* off icons are displayed by default */
path.off {
  display: block;
}

/* on icons are displayed when parent svg has class 'on' */
svg.on path.on {
  display: block;
}

/* off icons are hidden when parent svg has class 'on' */
svg.on path.off {
  display: none;
}

svg {
  border-radius: 48px;
  box-shadow: 2px 2px 24px #444;
  display: block;
  margin: 0 0 3vh 0;
  transform: translateX(calc(-6vw - 96px));
  transition: all .1s;
  transition-timing-function: ease-in-out;
}

svg:hover {
  box-shadow: 4px 4px 48px #666;
}

#controls.active svg {
  transform: translateX(0);
}

#mute-audio {
  transition: 40ms;
}

#mute-audio:hover,
#mute-audio.on {
  background: #407cf7;
}

#mute-audio:hover circle {
  fill: #407cf7;
}

#mute-video {
  transition: 120ms;
}

#mute-video:hover,
#mute-video.on {
  background: #407cf7;
}

#mute-video:hover circle {
  fill: #407cf7;
}

#switch-video {
  transition: 200ms;
}

#switch-video:hover {
  background: #407cf7;
}

#switch-video:hover circle {
  fill: #407cf7;
}

#fullscreen {
  transition: 280ms;
}

#fullscreen:hover,
#fullscreen.on {
  background: #407cf7;
}

#fullscreen:hover circle {
  fill: #407cf7;
}

#hangup {
  transition: 360ms;
}

#hangup:hover {
  background: #dd2c00;
}
#hangup:hover circle {
  fill: #dd2c00;
}

/*////// icons CSS end /////////////////////////*/
