/* Styles for WebRTC provider */
.uiIconWebrtcCall {
	vertical-align: text-bottom;
}

.uiIconWebrtcCall:before {
	content: url("/webrtc/skin/icons/webrtcicon_14px.png") !important;
	position: relative;
	margin-right: 3px;
}
/* .callButtonIconVideo::before {
	content: "\e900";
	font-size: 24px;
	vertical-align: middle;
} */

/* Incoming call popover BEGIN */

.incomingCall {
	position: fixed;
	bottom: 5px;
	z-index: 10;
	right: 5px;
	width: 350px;
	padding: 20px 10px 10px 30px;
	background: #fff;
	border-radius: 3px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
}

.incomingCall .uiIconClose {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.incomingCall .callMessage {
	display: table;
	width: 100%;
}

.incomingCall .callMessage > * {
	display: table-cell;
	vertical-align: middle;
}

.incomingCall .callMessage .messageText {
	padding-left: 10px;
	width:100%;
}
.incomingCall .callMessage .avatar img {
	border: 3px solid #476A9C;
}

.incomingCall .callActions {
	margin-top: 30px;
	text-align: right;
}

.incomingCall .callActions > .btn {
	margin-left: 15px;
}

/* Incoming call popover END */

/* Settings form BEGIN */
#webrtc-settings-popup .uiPopup {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	width: 600px;
    padding: 0;
}

#webrtc-settings-popup .settingsForm .popupContent {
	max-height: calc(95vh - 250px);
	overflow: auto;
}

#webrtc-settings-popup .settingsForm .title {
	font-weight: bold;
}

#webrtc-settings-popup .settingsForm .title .tooltip-inner {
	max-width: 300px;
}

#webrtc-settings-popup .form-horizontal input[type="text"] {
	margin-bottom: 10px;
}

.iceServers, .diagnostic-errors {
	padding: 0 30px;
}

.iceServer, .noServer {
	display: flex;
	margin-bottom: 20px;
}

.iceServer .urlsGroup {
	margin-bottom: 5px;
	flex: 1;
}

.iceServer .urlGroup {
	display: flex;
}

.iceServer .urlGroup .actions-container {
	flex: 0 0 60px;
	padding-top: 7px;
}

.iceServer .urlGroup .actions-container>* {
	margin-left: 10px;
}

.iceServer .urlGroup .actions-container>.uiIconTrash:before {
	font-family: "PLF-FONT-ICONS";
  	content: "\e799";
}

.iceServer .urlGroup>input {
	flex-grow: 1;
}

.iceServer .control-label {
	flex-shrink: 0;
	padding-right: 20px;
	float: none;
	width: auto;
}

.iceServer .enabler .uiCheckbox {
	margin-left: 0px;
}

.iceServer .enabler .uiCheckbox>span {
	vertical-align: text-top;
}

.iceServer .credentials {
	margin: 5px 0 10px 0;
	display: table;
	width: calc(100% - 60px);
}

.iceServer .credentials .control-group {
	display: table-row;
}

.iceServer .credentials .control-group>* {
	display: table-cell;
}

.iceServer .credentials label {
	padding-right: 10px;
	width: 1px;
	vertical-align: top;
}

.iceServer .credentials input {
	width: 100%;
}

#webrtc-settings-popup .uiAction {
    margin-bottom: 15px;
}

#webrtc-settings-popup .serverRemovalDialog {
	width: 500px;
}
#webrtc-settings-popup .serverRemovalDialog .uiAction {
	margin: 30px 0 0;
}

.settingsForm .alert {
	position: fixed;
	top: 12px;
}

.settingsForm .alert.no-server-warning {
	position: static;
	transform: none;
	margin: 0 30px;
}

/* Settings form END */