/* Typography */
/* colors */
/* layout */
/* layout */
/* border & shadow */
/* borde & shadow */
/* Responsive */
/* Responsive */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-space-evenly {
  justify-content: space-between;
}
.flex-space-evenly:before,
.flex-space-evenly:after {
  content: '';
  display: block;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-remaining-width {
  flex: 1;
  min-width: 0;
}
.overflow-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.display-hidden {
  display: none;
}
/*
 * Web Conferencing Admin styles (common for all skins) 
 */
/*Header page*/
#webconferencingAdmin .titleWithBorder {
  margin: 40px 0;
}
#webconferencingAdmin .uiIconSetting:before {
  content: "\f13e";
  font-size: 21px;
}
/**/
/* SWICHER */
/**/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 10px;
  margin-bottom: 0;
}
.switch input {
  display: none;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d8dadd;
  border-radius: 8px;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 5px;
  bottom: -4px;
  background: #9ea6b2;
  border-radius: 50%;
  transition: transform .4s;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.switch input:checked + .slider:before {
  transform: translateX(18px);
  background: #476A9C;
}
/**/
/* END SWICHER */
/**/

