/*
 * Styles for Jitsi call page
 */
html {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Lucida Grande', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
 
#jitsi-call-container {
	background: gray;
	margin: 0;
  padding: 0;
	width: 100%;
	height: 100%;
	position: relative;
}

#jitsi-call-title {
	background: #476A9C;
	color: #e2e6ed;
	width: 100%;
}

#jitsi-call-title h1 {
	margin: 0;
  padding: 40px;
}

#jitsi-call-conversation {
	margin: 40px;
}

#jitsi-call-controls {
	margin: 40px;
	text-align: center;
}

.placeholder {
	width: 100%;
	border:thin;
	padding-bottom: 20%;
  border-color: lime;
  border-style: dashed;
}

.description, .status {
	margin-top: 20px;
	margin-bottom: 20px;
}

.call-close {
	margin:auto;
  display:block;
  
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #476A9C;
  border:0;
  font-weight:100;	
}

.call-close:hover{
  background: #476a9c;
}


